<dom-module id="lineage-review-style">
  <script>
    Gerrit.install(plugin => {
      'use strict';
      plugin.registerStyleModule('app-theme', 'lineage-review-theme');
    });
  </script>
</dom-module>

<dom-module id='lineage-review-theme'>
  <style>
    :root {
      --header-background-color: #167c80;
      --footer-background-color: #eee;
      --header-text-color: #fff;
      --header-title-content: "LineageOS Gerrit";
      --header-icon: url("/static/logo.png");
    }
  </style>
</dom-module>
